
.header-cont0{
  margin-top: 100px;
  display: flex;
  gap: 10px;
}

.header-cont0 button{
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 180px;
  height: 80px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
